body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: 0;
  padding: 6px 10px;
  margin: 5px;
  border-radius: 3px;
  background-color: aquamarine;
}

.btn:hover {
  cursor: pointer;
}

:root {
  --h1--color: cadetblue;
}
