.btn {
  background-color: gainsboro;
  padding: 8px 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin: 5px 8px;
}

.btn:visited {
  color: black;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "top top"
    "about about"
    "exp other";
  grid-gap: 1rem;
}

.profile-exp {
  border: solid 1px;
  grid-area: exp;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-other {
  grid-area: other;
  border: solid 1px;
}
