.main {
  padding: 20px 50px;
}

.btn {
  background-color: gainsboro;
  padding: 8px 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin: 5px 8px;
}

.btn:visited {
  color: black;
}

.profile-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.profile-exp {
  border: solid 1px;
}

.profile-other {
  border: solid 1px;
}
