.box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  border-radius: 5px 5px 0 0;
  z-index: 50;
}

.box h2 {
  font-size: 1.25rem;
  color: #eee;
  margin: 0;
}

.box p {
  margin: 0;
}

.box.success {
  background-color: yellowgreen;
  transition: all ease 1s;
}

.box.error {
  background-color: tomato;
  transition: all ease 1s;
}

@media (min-width: 700px) {
  .box {
    width: 40rem;
    left: calc(50% - 27rem);
  }
}
