.title {
  color: #132aff;
}

.landing {
  position: relative;
  background: no-repeat url("../../image/people.jpeg");
  background-size: 100vw 100vh;
  background-position: center;
  height: 94vh;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.landing-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  background-color: darkgray;
  width: 500px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
  z-index: 1;
}

.box h1 {
  margin: 0;
}

.link {
  margin: 10px;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
}

.link.login {
  background-color: aqua;
}

.link.signup {
  background-color: blanchedalmond;
}
