.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgb(39, 39, 39);
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: 20px;
}

.list li {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #eee;
}

.link:visited {
  color: white;
}
